<form action= "<%= url %>" method="post">
<input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>

  <label for="post[title]">Title</label>
  <input type="text" name="post[title]" value="<%= post.title %>"><br>

  <label for="post[url]">URL (optional)</label>
  <input type="text" name="post[url]" value="<%= post.url %>"><br>

  <label for="post[content]">Content (optional)</label>
  <textarea name="post[content]" rows="8" cols="80"><%= post.content %></textarea><br>

  <label for="post[sub_id][]">Sub</label><br>
  <% Sub.all.each do |sub| %>
    <input type="checkbox" name=post[sub_id][] value="<%= sub.id %>" "<%= "checked" if post.sub_id == sub.id %>"><%= sub.title.capitalize %><br>
  <% end %>

  <input type="submit" value="<%= button_text %>">
</form>
