<h2><%= @sub.title %></h2>
<p>Moderator: <%= @sub.moderator.username.capitalize %></p>
<p><%= @sub.description %></p>

<ul>
  <% @sub.posts.each do |post| %>
    <li><a href="<%= post_url(post) %>"><%= post.title %></a></li>
  <% end %>
</ul>

<%= button_to "Create Post", new_post_url, method: :get  %>
